streamlit
pandas
plotly
replicate
python-dotenv
requests
beautifulsoup4
selenium
webdriver-manager
undetected-chromedriver
playwright
curl_cffi
ddgs
pydeck
streamlit-shadcn-ui
moviepy<2.0.0
twilio
openai
pydub
gtts
streamlit-mic-recorder
watchdog
phonenumbers
bcrypt
stripe
openpyxl
Pillow
google-genai
google-generativeai
sentry-sdk
psycopg2-binary
edge_tts
fal_client
pyttsx3
passlib
cryptography
PyPDF2
python-docx
