streamlit
pandas
plotly
replicate
python-dotenv
requests
beautifulsoup4
selenium
webdriver-manager
undetected-chromedriver
playwright
curl_cffi
duckduckgo-search
pydeck
streamlit-shadcn-ui
moviepy
twilio
openai
pydub
gtts
streamlit-mic-recorder
watchdog
phonenumbers
bcrypt
stripe
openpyxl
Pillow
google-genai
sentry-sdk
google-genai
moviepy<2.0.0
psycopg2-binary

google-generativeai

edge_tts

